@import '../../assets/sass/variables';

.drop-area {
	position: fixed;
	bottom: 50px;
	left: 30px;
	display: inline-block;
}

.main-drop-area-false {
	position: relative;
	top: 50px;
	display: inline-block;
}

.drop-area::before {
	max-width: 200px;
	background-color: $bacground-bottom;
	color: $color-button;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	padding: 30px 20px;
	box-shadow: 3px 3px 8px #b8b8b8;
	content: 'Seleccionar o soltar imagen';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	transition: 0.2s ease;
}

.main-drop-area-false::before {
	border: 2px solid $border;
	background-color: $color-button;
	color: $color-text;
	width: 100%;
	height: 300px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	box-shadow: 3px 3px 8px #b8b8b8;
	content: 'Selecionar';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	transition: 0.2s ease;
}

.main-drop-area-false:hover::before {
	border: 2px solid $color-hook;
}

.drop-area:hover::before {
	background-color: $color-hook;
}

.drop-area input[type='file'] {
	opacity: 0;
	width: 200px;
	height: 32px;
	display: inline-block;
}

.main-drop-area-false input[type='file'] {
	opacity: 0;
	width: 100%;
	height: 300px;
	display: inline-block;
}

.content-img {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.content-img img {
	max-width: 200px;
	border-radius: 2px;
}

.box-pages .main__user--false {
	margin-top: 20%;
	display: flex;
	gap: 30px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@media screen and (min-width: 510px) {
	.main-drop-area-false::before {
		width: 400px;
		height: 300px;
	}

	.main-drop-area-false input[type='file'] {
		opacity: 0;
		width: 400px;
		height: 300px;
		display: inline-block;
	}
}

@media screen and (min-width: 900px) {
	.drop-area {
		left: 250px;
	}
}
