@mixin mainFlexCenter($content, $align) {
	display: flex;
	flex-direction: column;
	justify-content: $content;
	align-items: $align;
}

@mixin mainFlexOrGrid($display, $justify, $align) {
	display: $display;
	justify-content: $justify;
	align-items: $align;
}

@mixin mainFlexJustify($justify) {
	display: flex;
	justify-content: $justify;
}

@mixin menuHome {
	display: flex;
	gap: 10px;
	align-items: center;
	padding: 10px;
}

@mixin menuHomeNav {
	text-decoration: none;
	color: $color-text;
	text-transform: capitalize;
}
