$color-text: #202124;
$color-button: #fff;

$bacground-trasnparent-gray: rgb(241, 243, 244);
$bacground-trasnparent-blue: rgb(232, 240, 254);
$border: rgb(218, 220, 224);
$bacground-bottom: #1a73e8;
$color-hook: #174ea6;
